In [ ]:
import pandas as pd
import numpy as np

# Generate sample sales data
np.random.seed(42)
sales_data = pd.DataFrame({
    'SaleID': range(1, 71),
    'Date': pd.date_range(start='2023-01-01', periods=70, freq='D'),
    'Product': np.random.choice(['Widget', 'Gadget', 'Doohickey'], size=70),
    'Quantity': np.random.randint(1, 20, size=70),
    'Price': np.round(np.random.uniform(10.0, 100.0, size=70), 2)
})

# Save to CSV
sales_data.to_csv(r"C:\Users\rosel\Downloads\ETL_Extract_Ziza Maranga_669613\sales_data.csv", index=False)

# View the entries
df = pd.DataFrame(sales_data)
df.head(70)

    SaleID       Date    Product  Quantity  Price
0        1 2023-01-01  Doohickey        18  58.59
1        2 2023-01-02     Widget        12  28.28
2        3 2023-01-03  Doohickey         2  94.86
3        4 2023-01-04  Doohickey        10  63.90
4        5 2023-01-05     Widget         4  72.53
..     ...        ...        ...       ...    ...
65      66 2023-03-07     Gadget        17  74.00
66      67 2023-03-08     Gadget         4  82.86
67      68 2023-03-09     Gadget         5  41.38
68      69 2023-03-10     Gadget         7  18.66
69      70 2023-03-11     Widget        13  94.65

[70 rows x 5 columns]

In [16]:
# Load the entire dataset (already loaded as sales_data)
# Display basic stats
num_rows, num_cols = sales_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")
print("Sample data:")
print(sales_data.head())

print(f"Extracted {num_rows} rows fully.")

Number of rows: 70
Number of columns: 5
Sample data:
   SaleID       Date    Product  Quantity  Price
0       1 2023-01-01  Doohickey        18  58.59
1       2 2023-01-02     Widget        12  28.28
2       3 2023-01-03  Doohickey         2  94.86
3       4 2023-01-04  Doohickey        10  63.90
4       5 2023-01-05     Widget         4  72.53
Extracted 70 rows fully.

In [17]:
with open(r"C:\Users\rosel\Downloads\ETL_Extract_Ziza Maranga_669613\last_extraction.txt", "w", encoding="cp1252") as f:
    f.write(f"Last extraction: {num_rows} rows, {num_cols} columns\n")

In [19]:
from datetime import datetime

# Simulate a last extraction time and write to the file
last_extraction_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
with open(r"C:\Users\rosel\Downloads\ETL_Extract_Ziza Maranga_669613\last_extraction.txt", "a", encoding="cp1252") as f:
    f.write(f"Last extraction time: {last_extraction_time}\n")

In [10]:
# Assuming we want to extract records after the last extraction time
# Convert last_extraction_time to datetime
last_extraction_dt = pd.to_datetime(last_extraction_time)

# Filter sales_data for new or updated records (Date > last_extraction_time)
new_or_updated_records = sales_data[sales_data['Date'] > last_extraction_dt]

print("New or updated records:")
print(new_or_updated_records)

New or updated records:
Empty DataFrame
Columns: [SaleID, Date, Product, Quantity, Price]
Index: []

In [11]:
print(f"Extracted {len(new_or_updated_records)} rows incrementally since last check.")

Extracted 0 rows incrementally since last check.

In [20]:
# Update last_extraction.txt after successful incremental extraction
with open(r"C:\Users\rosel\Downloads\ETL_Extract_Ziza Maranga_669613\last_extraction.txt", "a", encoding="cp1252") as f:
    f.write(f"Incremental extraction completed at: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}\n")